# dependencies
node_modules/

# environment variables
.env

# logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# temporary files
tmp/
temp/

# build files
dist/
build/

# coverage
coverage/
